DATABASE_URL=<your-postgresql-database-url>
JWT_SECRET=<your-jwt-secret>
JWT_REFRESH_SECRET=<jwt-refresh-token-secret>
ENVIRONMENT=<production/development>
REDIS_URL=<your-redis-db-connection-url-for-ratelimiting-and-token-blacklist>
